.Viewer > section{
    width: 100%;
    margin-bottom: 100px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    
}

.Viewer > section > h4{
    font-size: 22px;
    font-weight: bold;
}

.Viewer .emotion_img_wrapper {
    width: 250px;
    height: 250px;
    border-radius: 5px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    font-size: 25px;
    color: white;
}

.emotion_1{
    background-color: rgb(100,201,100);
}

.emotion_2{
    background-color: rgb(157,215,114);
}

.emotion_3{
    background-color: rgb(253,206,23);
}

.emotion_4{
    background-color: rgb(253,132,70);
}

.emotion_5{
    background-color: rgb(253,86,95);
}

.Viewer .content_wrapper{
    width: 100%;
    border-radius: 5px;

    background-color: rgb(236,236,236);
    word-break: keep-all;
    overflow-wrap: break-word;
}

.Viewer .content_wrapper>p{
    text-align: left;
    padding: 20px;
    font-size: 20px;
    font-weight: 400;
    line-height: 2.5;
}